<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultPosition</key>
	<array>
		<real>0.49942129629629628</real>
		<real>0.84501845018450183</real>
	</array>
	<key>showCardOutline</key>
	<false/>
	<key>showMascot</key>
	<true/>
	<key>showMusicNotes</key>
	<true/>
	<key>showPillArtwork</key>
	<true/>
</dict>
</plist>
